:root{
  --mainColor:lightblue;
  --secondaryColor:rgba(97, 97, 207, 0.377);

  --borderColor:rgb(128, 128, 128);
  --mainText:rgb(17, 16, 16);
  --secondaryText:#4b5156;
}
.App {
  padding: 0%;
  margin: 0;
}
h1,h2,h3,h4,h5,h6,strong{
  color: var(--mainText);
  font-family: 'Russo One', sans-serif;
  font-weight: 500;

}
p,li,span,input,textarea{
  font-family: 'Roboto Mono', monospace;
 }
a{
  text-decoration: none;
  color: #097796;
}
ul{
  list-style: none;
}
h1{font-size: 56px;}
h2{font-size: 36px;}
h3{font-size: 28px;}
h4{font-size: 24px;}
h5{font-size: 20px;}
h6{font-size: 16px;}
.s1{
  background-color: var(--mainColor);
  border-bottom:1px solid var(--borderColor);
  overflow: auto;
}.s2{
  background-color: var(--secondaryColor);
  border-bottom:1px solid var(--borderColor);
  overflow: auto;
  
}


.mainContainer {
  width: 1200px;
  margin: 0 auto;
}

.greetingsWrapper{
  display: grid;
  justify-content: center;
  text-align: center;
  border: 2px dashed lightcoral;
  min-height: 10em;
}
.introWrapper{
  background-color: var(--secondaryColor);
  border: 1px solid var(--borderColor);

  box-shadow: 17px 18px 8px -5px rgba(0,0,0,0.39);
  -webkit-box-shadow: 17px 18px 8px -5px rgba(0,0,0,0.39);
  -moz-box-shadow: 17px 18px 8px -5px rgba(0,0,0,0.39);

  display: grid;
  grid-template-columns: 1fr 1fr;

}
.navWrapper{
border: 1px dashed lightcoral;
}
.leftColumn{
  border: 1px dashed lightcoral;
  }
.rightColumn{
    border: 1px dashed lightcoral;
    }
@media screen and (max-width: 1200px){
  .mainContainer{
    width: 95%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
